<div id="title">Password</div>
<section id="add-password-pane" ng-controller="EditPasswordController">
    <input type="text" ng-model="domain" placeholder="(website)">
    <input type="text" ng-model="username" placeholder="(username)">
    <input type="text" ng-model="password" placeholder="(password)">
    <button ng-click="generate()">Generate</button>
    <button ng-click="cancel()">Cancel</button>
    <button class="danger" ng-click="delete()" ng-if="editingEntry !== null">Delete</button>
    <button class="recommend" ng-click="save()">Save</button>
</section>
