<pane id="loginPane" ng-controller="LoginController">
    <div class="title">Carbon Fox</div>
    <div id="lock-pane-input" ng-class="(pinDisplayList.length == 0) ? 'empty' : ''">
        {{pinDisplayList.join(' ') || (isBusy ? 'Checking your PIN...' : 'Enter PIN')}}
    </div>
    <a id="login-button" ng-class="['round-button fa fa-unlock', isBusy? 'fa-spin' : '']" ng-click="login()"></a>
    <div id="keypad">
        <section>
            <a ng-click="input(1)"><div>1</div><div>&#160;</div></a>
            <a ng-click="input(2)"><div>2</div><div>abc</div></a>
            <a ng-click="input(3)"><div>3</div><div>def</div></a>
        </section>

        <section>
            <a ng-click="input(4)"><div>4</div><div>ghi</div></a>
            <a ng-click="input(5)"><div>5</div><div>jkl</div></a>
            <a ng-click="input(6)"><div>6</div><div>mno</div></a>
        </section>

        <section>
            <a ng-click="input(7)"><div>7</div><div>pqr</div></a>
            <a ng-click="input(8)"><div>8</div><div>tuv</div></a>
            <a ng-click="input(9)"><div>9</div><div>wxyz</div></a>
        </section>

        <section>
            <a></a>
            <a ng-click="input(0)"><div>0</div><div>&#160;</div></a>
            <a ng-click="backspace()"><div class="backspace">Bkspace</div><div>&#160;</div></a>
        </section>
    </div>
</pane>
