<div id="title">Carbon Fox</div>
<section id="passwordPane" ng-controller="PasswordController">
    <ul id='entry-list'>
        <li ng-repeat="(key, value) in entries" ng-click="show(value)" ng-right-click="edit(value)">
            <div>
                <div>
                    <div>{{value.isLocked()? value.domain : value.password}}</div>
                    <div>{{value.isLocked()? value.username : ''}}</div>
                </div>
                <div ng-class="['lock-icon', 'fa', value.isLocked()? 'fa-lock' : 'fa-unlock']"></div>
            </div>
        </li>
    </ul>
    <a id="add-button" class="round-button fa fa-plus" ng-click="add()"></a>
</section>
