<div id="title">Carbon Fox</div>
<section id="passwordPane" ng-controller="PasswordController">
    <div id="search-bar">
        <ul>
            <li ng-repeat="l in 'abcdefghijklmnopqrstuvwxyz#'">
                {{l}}
            </li>
        </ul>
    </div>
    <ul id='entry-list' ng-style="hidden? {visibility: 'hidden'} : {}">
        <li ng-repeat="entry in entries" ng-click="show(entry)" ng-right-click="edit(entry)">
            <div>
                <div>
                    <div>{{entry.isLocked()? entry.domain : entry.password}}</div>
                    <div>{{entry.isLocked()? entry.username : ''}}</div>
                </div>
                <div ng-class="['lock-icon', 'fa', entry.isLocked()? 'fa-lock' : 'fa-unlock']"></div>
            </div>
        </li>
    </ul>
    <a id="add-button" class="round-button fa fa-plus" ng-click="add()"></a>
</section>
